/* Register.module.css */

.register-container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
  }
  
  .status-message {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .success {
	color: green;
  }
  
  .failure {
	color: red;
  }
  
  .form-container {
	display: flex;
	flex-direction: column;
  }
  
  .form-control {
	margin-bottom: 15px;
  }
  
  label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
  }
  
  input {
	padding: 8px;
	width: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow to the input fields */
  }
  
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
  }
  
  .submit-button {
	background-color: teal;
	color: white;
	padding: 10px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
  }
  
  .submit-button:disabled {
	background-color: lightgray;
	cursor: not-allowed;
  }
  