.pageContainer {
  margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
  }
  
  .loginPageDivs {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }
  
  .loginPageBox {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
  }
  
  .heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .registerButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loginPageBoxForm {
    width: 45%;
  }
  
  .navbarLoginBox{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;

  }
  /* Add more styles as needed */
  