.job_card {
    border: solid 1px #CCCC;
    padding:10px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job_listings_container {
    display: grid;
    grid-template-columns: repeat(3, 32.33%);
    column-gap: 15px;
    row-gap:10px;
    margin:0 auto;
    max-width:1200px;
}
.cardtop img{
    border-radius: 10px;
}
.cardtop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}
.cardtop i{
    margin:0;
    color:#696868cc;
}
.cardFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.ApplyBtn{
    padding:4px 10px;
    color:white;
    border:none;
    outline:none;
    border-radius:20px;
    background-color:#3dbbf3;
    font-weight: 600;
    font-size: 12px;
}
.socialLinks i{
    margin: 0px;
    font-size:14px;
}
.facebookIcon{
    border:solid 2px #4267B2;
    border-radius: 10px;
    margin: 0px 5px;
}
.twitterIcon {
    border:solid 2px #1DA1F2;
    border-radius: 10px;
    margin: 0px 5px;
}
.linkedInIcon{
    border:solid 2px #0077b5;
    border-radius: 10px;
    margin: 0px 5px;
}
.twitterIcon i{
    padding:2px;
    color:#1DA1F2;
    font-size: 13px;
}
.facebookIcon i{
    padding:4px;
    color:#4267B2;
    font-size: 13px;
}
.linkedInIcon i{
    padding: 0px 3px;
    color:#0077b5;
    font-size: 13px;
}